body {
  padding: 20px;
  font-family: sans-serif;
}

.card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #EEE;
    box-shadow: 1px 1px 3px #888888;
}

.spacing {
    margin-top: 20px;
    margin-left: 20px;
}

.red {
  background-color: #FFCCCC;
}
