body{
  font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: sans-serif;
}

.card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #EEE;
    box-shadow: 1px 1px 3px #888888;
}

.spacing {
    margin-top: 20px;
    margin-left: 20px;
}

.red {
  background-color: #FFCCCC;
}

.ninja {
  visibility: hidden;
}

.butt {
  display: block;
  padding: 20px 30px;
  border: 0;
  background: rgb(15, 85, 224);
  font-size: 20px;
  color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #888888;
}
